<nav>
  <mat-toolbar class="toolbar" color="primary" role="banner">
    <button class="panel-title" mat-flat-button color="primary" id='' routerLink="" style="margin-left:10%">Course Portal</button>
    <span class="spacer"></span>
  	<button *ngIf="isAuthenticated" mat-button id="enroll" routerLink="/enroll">Enroll</button>
    <button *ngIf="isAuthenticated" mat-button id='user-update' routerLink="/user-update">Update Account</button>
    <button *ngIf="!isAuthenticated" mat-button id='login' (click)="login()" style="margin-right:5%">Login</button>
    <button *ngIf="isAuthenticated" (click)="logout()" mat-button id='logout' style="margin-right:5%">Logout</button>
  </mat-toolbar>
</nav>
