<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Course Portal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body>
    <section class="hero is-link is-bolded is-fullheight is-large">
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title ">
              Welcome to Course Portal!
            </h1>
            <h2 class="subtitle">
              Where your career journey begins...
            </h2>
          </div>
        </div>
      </section>
  </body>
</html>