<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span class="panel-title" style="margin-left:10%">Welcome</span>
  <div class="spacer"></div>
  <button mat-button style="margin-right:10%">Login</button>
</div>
<div class="content" role="main">
	<router-outlet></router-outlet>
	<p *ngIf="user">Current User: {{user}}</p>
  
	<h1>Welcome</h1>
	<!-- Highlight Card -->
	<div class="card highlight-card card-small">
	  <span>{{ title }} app is running!</span>
	</div>
  
  <button mat-button mat-button color="primary" routerLink="/login">Login</button>
  <button mat-button mat-button color="primary" routerLink="/class">Courses</button>
  <!-- Footer -->
  <footer hidden=true></footer>
</div>
