<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="spacer"></div>
  <span>Welcome</span>
  <div class="spacer"></div>
  <button mat-button color="primary">Login</button>
  <div class="spacer"></div>
</div>

<app-navigation></app-navigation>

<div class="content" role="main">
  <router-outlet></router-outlet>

  <mat-slider min="1" max="100" step="1" value="1"></mat-slider>

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <span>{{ title }} app is running!</span>
  </div>

  <button mat-button mat-button color="primary" routerLink="/login">Login</button>

  <!-- Footer -->
  <footer>
      Footer
  </footer>
</div>
