<div class="coursesdiv">
	<h3>{{user.name}}</h3>
	<br>
	<div id="studentList">
		<h2>Courses</h2>
		<table mat-table [dataSource]="notEnrolledCourses">
			<ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef> Course Id </th>
				<td mat-cell *matCellDef="let course"> {{course.id}} </td>
			</ng-container>

			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef> Course Name </th>
				<td mat-cell *matCellDef="let course"> {{course.name}} </td>
			</ng-container>

			<ng-container matColumnDef="description">
				<th mat-header-cell *matHeaderCellDef> Course Description </th>
				<td mat-cell *matCellDef="let course"> {{course.description}} </td>
			</ng-container>

			<ng-container matColumnDef="enroll">
				<th mat-header-cell *matHeaderCellDef> Enroll </th>
				<td mat-cell *matCellDef="let course"> <button (click)="addEnrollment(course.id, user.id)" mat-raised-button>Enroll</button></td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
			<tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
		</table>
	</div>
</div>
